pre {
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}

.string {
    color: green;
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: red;
}

.breadcrumb{
    padding: 0px;
}


.content-body{
    margin-left: 15px;
}

#signin {
    font-size: 18px;
    margin-right: 10px;
}

#getCompanySection, #listCompanySection {
    display: none;
}